<div class="container">
    <h1 class="text-center my-5">Get in touch</h1>
    <div class="mx-auto card col-md-8">
        <form class="card-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
            </div>
            <button type="button" class="btn btn-primary">Send message</button>
            &nbsp;&nbsp;&nbsp;
            <a href="" class="btn btn-secondary">Reset</a>
        </form>
    </div>
</div>
<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-3">
                <h3>What is this?</h3>
                <p>Adding tasks to do in this list. As simple as that. </p>
            </div>
            <div class="col-md-6 py-3">
                <h3>Do you like it ? Share this now!</h3>
                <div>
                    <p>
                        © Rastogi's Task List | Created by Aakash Rastogi (<a href="https://github.com/aakashrstg00">me</a>, <a href="https://aakashrstg00.github.io">yes me!</a>)
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>